body {
	background-color: black;
}
.containers {
	position: relative;
	font-family: 'Luckiest Guy', cursive;
	margin: auto;
	background-color: #7DCE94;
	height: 812px;
	width: 375px;
	border-radius: 15px;
	border: 2px solid black;
}
#row1 {
	height: 100px;
	margin-bottom: 15px;
}
#row2 {
	margin-bottom: 15px;
}
#row3 {
	min-height: 400px;
}
#row3 span {
	margin: 0 auto 0 auto;
	display: none;
}
#row4 {
	height: 220px;
	margin-top: 10px;
}
#row4-1 {
	margin: 0 auto 0 auto;
}
.hangman {
	margin-bottom: -30px;
}
.logo {
	position: relative;
	width: 279px;
	height: 83px;
	margin: auto;
	text-align: center;
	background: #7DCE94;
	border: 10px solid #3D3D3F;
	border-radius: 6px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo h1 {
	width: 279px;
	height: 73px;
	font-weight: normal;
	font-size: 46px;
	line-height: normal;
	color: #3D3D3F;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-text-newgame {
	width: 185px;
	height: 51px;
	margin: auto;
	background: #3D3D3F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	color: #EFEF5C;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#topPost {
	position: relative;
	top: -110px;
	left: 75px;
}
#dropPost {
	position: relative;
	top: -90px;
	left: 25px;
}
#longPost {
	position: relative;
	top: 25px;
	left: -140px;
}
#diagPost {
	position: relative;
	top: -84px;
	left: -155px;
}
#basePost {
	position: relative;
	top: 15px;
	left: 50px;
}
#head {
	position: relative;
	top: -275px;
	left: 223px;
}
#torso {
	position: relative;
	top: -220px;
	left: 190px;
}
#leftArm{
	position: relative;
	top: -220px;
	left: 75px;
}
#rightArm {
	position: relative;
	top: -220px;
	left: 70px;
}
#leftLeg {
	position: relative;
	top: -170px;
	left: 152px;
}
#rightLeg {
	position: relative;
	top: -170px;
	left: 144px;
}
#shadow {
	position: relative;
	top: -80px;
	left: -15px;
}
#lettersGuessed {
	margin: 0 auto 0 auto;
	letter-spacing: 2px;
}
#col2, #col3, #col4, #col5, #col6, #col7, #col8, #col9, #col10, #col11 {
	text-align: center;
	height: 25px;
	padding: 0px;
}
.col-1 {
	border: none;
}
#guessTextBox {
	position: relative;
	width: 273px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 10px solid #3D3D3F;
	border-radius: 6px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#guessEnterBtn {
	width: 185px;
	height: 51px;
	position: relative;
	background: #3D3D3F;
	margin: -20px auto 0 auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	color: #EFEF5C;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


